// COLOR PALETTE
$primary: #000;
$secondary: #fff;
$tertiary: #333;
$stroke: #ccc;
$shade: #eee;
$dark-blue: #000022;
$gray: #222;
//fonts
$global-font: "Open Sans", sans-serif;
$heading-font: "Playfair Display", serif;
//transitions
$transition: all 0.5s;
